
@use './../mixins';

@include mixins.mq(sp) {
  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      width: 100%;
      height: 150px;
      color: #333;
      @include mixins.animation(fade-in-from-top, 1.5s);
    }

    .contact__content {
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 100%;
      @include mixins.animation(fade-in-from-right, 1.5s);


      & > div {
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
      }
    }
  }
}

@include mixins.mq(pc) {
  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 150px;

    h1 {
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      width: 100%;
      height: 150px;
      color: #333;
      @include mixins.animation(fade-in-from-top, 1.5s);
    }

    .contact__content {
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 100%;
      height: 500px;
      @include mixins.animation(fade-in-from-right, 1.5s);

      & > div {
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
      }
    }
  }
}