@use './../../mixins';

@include mixins.mq(sp) {
  .header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;

    .header__nav {
      display: none;
    }

    .header__hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 20px;
      width: 3.5rem;
      gap: 0.5rem;

      span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 5px;
      }
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
      padding: 20px;
    }

    #menu-toggle:checked ~ label {
      span:nth-child(1) {
        @include mixins.animation(right-inclide-down, 0.5s);
      }
      span:nth-child(2) {
        @include mixins.animation(fade-out, 0.5s);
      }
      span:nth-child(3) {
        position: relative;
        @include mixins.animation(right-inclide-up, 0.5s);
      }
    }

    #menu-toggle:not(:checked) ~ label {
      span:nth-child(1) {
        @include mixins.animation(right-inclide-down-reverse, 0.5s);
      }
      span:nth-child(2) {
        @include mixins.animation(fade-in, 0.5s);
      }
      span:nth-child(3) {
        position: relative;
        @include mixins.animation(right-inclide-up-reverse, 0.5s);
      }
    }
  }

  .header__overlay {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: none;
  }

  .header__mobile-menu {
    position: fixed;
    top: 80px;
    left: -500px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 2rem;
      text-decoration: none;
      text-align: center;
      gap: 30px;
    }
  }

  #menu-toggle:checked ~ .header__overlay {
    display: block;
    transition: opacity 0.5s ease;
  }

  #menu-toggle:checked ~ .header__mobile-menu {
    left: 0;
    transition: left 0.5s ease;
  }
}

@include mixins.mq(pc) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;

    .header__nav {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      font-size: 1rem;
      text-decoration: none;
      padding: 20px;
    }

    .header__hamburger {
      display: none;
    }

    .header__overlay {
      display: none;
    }

    .header__mobile-menu {
      display: none;
    }
  }
}