@use './mixins';

@include mixins.mq(sp) {
  .home {
    height: 100vh;
    width: 100%;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .home__title {
      padding-bottom: 30px;
      @include mixins.animation(fade-in-from-left, 1s);
    }
  
    h1 {
      font-size: 2rem;
      color: #333;
    }
    
    .home__menu {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;
    
      a {
        opacity: 0;
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: #272341;
        font-size: 1rem;
        transition: color 0.3s;
      }

      a:nth-child(1) {
        @include mixins.animation(fade-in-from-right, 0.7s, 0.5s);
      }
    
      a:nth-child(2) {
        @include mixins.animation(fade-in-from-right, 0.7s, 0.7s);
      }
    
      a:nth-child(3) {
        @include mixins.animation(fade-in-from-right, 0.7s, 0.9s);
      }

      a:nth-child(4) {
        @include mixins.animation(fade-in-from-right, 0.7s, 1.2s);
      }
    }
  }
}

@include mixins.mq(pc) {
  .home {
    height: 100vh;
    width: 100%;
    padding: 0 200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;

    .home__title {
      padding-left: 30px;
      @include mixins.animation(fade-in-from-left, 1.5s);
    }

    h1 {
      font-size: 3rem;
      color: #333;
    }

    .home__menu {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      a {
        opacity: 0;
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: #272341;
        font-size: 1.2rem;
        transition: color 0.3s;

        &:hover {
            color: #c22729;
        }
      }

      a:nth-child(1) {
        @include mixins.animation(fade-in-from-right, 0.7s, 0.5s);
      }
    
      a:nth-child(2) {
        @include mixins.animation(fade-in-from-right, 0.7s, 0.7s);
      }
    
      a:nth-child(3) {
        @include mixins.animation(fade-in-from-right, 0.7s, 0.9s);
      }

      a:nth-child(4) {
        @include mixins.animation(fade-in-from-right, 0.7s, 1.2s);
      }
    }
  }
}
