@use './../mixins';

@include mixins.mq(sp) {
  .works {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    h1 {
      display: flex;
      justify-content: center;
      font-size: 3rem;
      width: 100%;
    }

    .works__portfolio {
      display: flex;
      flex-direction: column;
    }
  }
}

@include mixins.mq(pc) {
  .works {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 150px;

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      width: 100%;
      height: 150px;
    }

    .works__portfolio {
      display: flex;
      flex-direction: column;

    }
  }
}